.col-left-inline .ant-menu-inline-collapsed {
    width: 100%;
}

.ant-col-5.col-left{
    height: 100%;
    float: left;
    position: fixed;
    overflow-y: scroll
}

.ant-col-19.col-right {
    float: right;
}

.col-right{
    float: right;
}


