 .col-left-inline .ant-menu-inline-collapsed {
    width: 100%;
}

/*.menu_left{
    height: 100%;
    position: fixed;
} */

.col-left{
    height: 100%;
    float: left;
    position: fixed;
}

.col-right{
    float: right;
}