.card_TTC {
    margin: 3%;
    margin-top: 0%;
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
}

.card_TTC input.inputNumber {
    width: 30%;
}

.submit_TTC{
    text-align: center;
    width: 100px;
    position: relative; 
    margin-left: 50%;
    right: 50px;
}

