.adding-text {
    color: rgb(9, 245, 9);
    font-weight: bold;
}

.removing-text {
    color: red;
    font-weight: bold;
}

.no-action-text {
    color: black;
    font-weight: bold;
}


/*Benchmark Matrix*/
.benchmark .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 16px 16px;
    /* width: 91px; */
}

.chart{
    margin-top: 15px;
}

.bar-chart-mixed{
    margin-top: 15px;
}

.popover a{
    display: block;
    padding: 5px;
    width : 90px;
}