

.input_number{
    width: 25%;
}

.submit_TTC{
    text-align: center;
    width: 100px;
    position: relative; 
    margin-left: 50%;
    right: 50px;
}

.submit_All{
    text-align: center;
    width: 100px;
    position: relative; 
    margin-left: 50%;
    right: 50px;
    margin-bottom: 15px;
}

.card_TTC input.inputNumber {
    width: 30%;
}

.contentItem {
    width: 100%;
}

.left_contentItem {
    width: 30%;
    float: left;
    text-align: right;
    font-weight: 600;
}

.right_contentItem {
    float: right;
    width: 70%;
    text-align: left;
    padding-left: 1rem;
}

.button-phancong{
    width: 100%;
}