.card_TTC {
    border: 2px solid; border-radius: 12px;
    margin: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.input_number{
    width: 25%;
}

.submit_TTC{
    text-align: center;
    width: 100px;
    position: relative; 
    margin-left: 50%;
    right: 50px;
}

.card_TTC input.inputNumber {
    width: 30%;
}