<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {{#if this.value1}}
    {{#each this.value1}}
    <div style="margin-left: 10%;margin-right:10%;">
        <i>Đề cương môn học <b> {{this.tenMonHocTV}}</b></i>
    </div>
    {{/each}}
    {{/if}}
</body>

</html>