<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>


    </style>
</head>

<body>
    <page size="A4">
        <div style="margin-left: 10%;margin-right:10%;margin-top:3%">
            <span>
                <img src="https://web.hcmus.edu.vn/images/stories/logo-khtn.png" style="width:10%">
            </span>
            <span style="float:right;margin-right: 38%">
                <p>Trường Đại học Khoa Học Tự Nhiên, ĐHQG-HCM</p>
                <b>
                    <p>Khoa Công Nghệ Thông Tin</p>
                </b>
            </span>
        </div>
        <div style="width: 100%">
            <hr style="border:1px solid;width:80%" />
        </div>
        <div style="height: 85%;">
            <center>
                <h1 style="color: blue;">ĐỀ CƯƠNG MÔN HỌC</h1>
            </center>
        </div>
    </page>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>