<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        page[size="A4"] {  
            width: 21cm;
            height: 29.7cm; 
        }
    </style>
</head>
<body>
    <page size="A4">
            <div >
                <div style="margin-left: 10%;margin-top:3%">
                    <span>
                        <img src="https://web.hcmus.edu.vn/images/stories/logo-khtn.png" style="width:10%">
                    </span>
                    <span style="float:right;margin-right: 42%"> 
                        <p>Trường Đại học Khoa Học Tự Nhiên, ĐHQG-HCM</p>
                        <b><p>Khoa Công Nghệ Thông Tin</p></b>
                    </span>
                </div>
                <div style="width: 100%">
                    <hr style="border:1px solid;width:80%"/>
                </div>
                <div>
                    <center><h1 style="color: blue;">ĐỀ CƯƠNG MÔN HỌC</h1></center>
                </div>
            </div>
    </page>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>