<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        page[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }

        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0080ff;
            color: white;
        }
    </style>
</head>

<body>
    <page size="A4">
        <div >
            <div style="margin-left: 10%;margin-right:10%;margin-top:3%">
                <span>
                    <img src="https://web.hcmus.edu.vn/images/stories/logo-khtn.png" style="width:10%">
                </span>
                <span style="float:right;margin-right: 38%">
                    <p>Trường Đại học Khoa Học Tự Nhiên, ĐHQG-HCM</p>
                    <b>
                        <p>Khoa Công Nghệ Thông Tin</p>
                    </b>
                </span>
            </div>
            <div style="width: 100%">
                <hr style="border:1px solid;width:80%" />
            </div>
            <div>
                <center>
                    <h1 style="color: blue;">ĐỀ CƯƠNG MÔN HỌC</h1>
                </center>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>3. MỤC TIÊU MÔN HỌC (COURSE GOALS)</b></h3>
                <p style="color: red;">(Hướng dẫn: Liệt kê các mục tiêu môn học, từ 5-8 mục tiêu ở mức độ tổng quát. Sử
                    dụng động từ
                    Bloom ở mức độ nhóm. Mỗi mục tiêu môn học được mapping với chuẩn đầu ra cấp chương trình)</p>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <p>Sinh viên học xong môn học này có khả năng :</p>
                <table id="customers">
                    <tr>
                        <th>Mục tiêu</th>
                        <th>Mô tả (mức tổng quát )</th>
                        <th>CĐR CDIO của chương trình</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                </table>
            </div>
        </div>
    </page>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>