.list-border {
    border: 1px solid #e1e1e1!important;
}

.list-item {
    font-size: 23pt;
    cursor: pointer;
    
}
.list-item :hover {
    color: rgb(0, 153, 255);
}
.div-center {
    text-align: center
}

.wrapper-custom{
    margin: 8% 5% 5% 5%;
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    background-color: #fff;
    padding: 3% 0px;
}

.wrapper-custom-layout{
    margin: 2% 5% 5% 5%;
}

.section-layout{
    margin-bottom: 2%;
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    background-color: #fff;
    padding: 2%;
}

.ant-comment-inner{
    box-shadow: 0 8px 6px -6px black;
    margin-bottom: 5px;
}

.col-right-title {
    /* margin: 3%; */
    background-color: #f5f6f8;
}

.header-fixed{
    width: 100%;
    height: 90px;
    top: 0px;
    z-index: 100;
}

.fixedCss{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.1);
    transition: 0.4s;
    will-change: transform;
}

.fixedCss .header-child span {
    font-size: 16px;
}

.header-child{
    padding-left: 4%;
    padding-top: 1%;
    height: 100%;
    line-height: 32px;
}

.col-right-title span {
    font-size: 1.4rem;
}

.export-css{
    position: relative;
    width: 250px;
    left: 50%;
    margin-left: -125px;
}


/* Subject */
.wrapper-subject {
    padding: 0.5% 2%;
    margin-bottom: 1%;
    background-color: #12a4e7;
    box-shadow: 0 8px 6px -6px black;
}


span.subject-name{
    font-size: 1.1rem;
    color: white;
}

/* Phân Công */
.wrapper-flex{
    display: flex;
}

.col-flex-left {
    width: 30% ;
}

.col-flex-right {
    width: 50% ;
}

.col-flex-center{
    width: 20%;
    align-self: center;
    margin: 0px 2%;
}

span.phancong-icon{
    position: relative;
    bottom: 2px;
    left: 5px;
}

/* ITU-Survey */
.time-itu{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}

a.title-subbject {
    text-decoration: none;
    color: white;
}

a.title-subbject span {
    font-size: 20px;
    color: white;
}