.list-border {
    border: 1px solid #e1e1e1!important;
}

.list-item {
    font-size: 23pt;
    cursor: pointer;
    
}
.list-item :hover {
    color: rgb(0, 153, 255);
}
.div-center {
    text-align: center
}